@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --yellow: #FFCA28;
    --normal: #FFFFFF;
    --critic: #EF5350;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.burger-container {
    display: none !important;
    margin: 2rem 2rem 2rem 2rem;
}

.burger-image {
    height: 3rem;
    aspect-ratio: 1/1;

    background-image: url(../img/burger.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.burger-container > h1{
    display: none !important;
    font-weight: bold;
    font-size: clamp(1.8rem, 1.358rem + 1.472vw, 3.125rem);
    margin: 0;
}


.izqd {
    flex: 1.2;

    background-color: #FFCA28;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    font-family: Montserrat;
}

.sidebar-container {
    display: flex;
    flex-flow: column nowrap;

    justify-content: flex-start;
    align-items: center;
}

.sidebar-container > h1 {
    font-weight: bold;
    font-size: clamp(1.8rem, 1.358rem + 1.472vw, 3.125rem);
    margin-top: 1.375rem;
    margin-bottom: 4.125rem;
}

.add-notes {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2.5rem;
    width: clamp(4.688rem, 0rem + 15.625vw, 18.75rem);
    padding: 0.9375rem 0;

    color: white;
    background-color: #00A99D;

    border-radius: 10px;
}

.add-notes p {
    margin: 0 1rem 0 0;
    font-weight: bold;
}

.add-notes img {
    width: 22px;
    height: 22px;
}

.note-conatiner {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;

    gap: 2.125rem;
}

.note {
    flex: 1 0 95px;
    width: clamp(4.688rem, 0rem + 15.625vw, 18.75rem);
    border-radius: 10px;
    padding: 0.4375rem 1.25rem 0 1.25rem;

    display: flex;
    flex-flow: column nowrap;

    justify-content: space-between;
    align-items: center;
}

.note > * {
    width: 100%;
    margin: 0;
}

.normal {
    background-color: var(--normal);
    color: black;
}

.normal .time {
    color: #808080;
}

.critic {
    background-color: var(--critic);
    color: white;
}


.critic .time {
    color: #F2F2F2;
}

.note-title {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.note-title h1 {
    margin: 0;
    font-weight: bold;
    font-size: clamp(1.125rem, 1.083rem + 0.139vw, 1.25rem);
}

.note-title img {
    width: 19px;
    height: 19px;
}

.note .txt {
    font-size: clamp(0.9rem, 0.867rem + 0.111vw, 1rem);
}

.note .time {
    text-align: right;
    font-weight: 100;
    font-size: clamp(0.787rem, 0.758rem + 0.097vw, 0.875rem);
}



.drch {
    flex: 5;
    display: flex;
    
    justify-content: center;
    align-items: center;

    font-family: "Space Mono";
}

.note-body-container {
    width: 74.16%;
    height: 84.44%;

    display: flex;
    flex-flow: column nowrap;
    border: 1px solid red;
}

.note-body-container > *:nth-child(1) {
    margin: 0;
    font-size: 3.4375rem;
    font-weight: 600;
}

.note-body-container > *:nth-child(2) {
    margin-top: 0.9375rem;
    margin-bottom: 1.875rem;
    font-size: 0.9375rem;
    font-weight: 300;
}

.note-body-container > *:last-child {
    margin: 0;
    font-size: 1.375rem;
    font-weight: 400;
    height: 100%;
    outline: none;
}

@media screen and (max-width:1220px) {
    .izqd {
        flex: none;

        height: 7rem;
        width: 7rem;

        transition: height 1s , width 1s ease;
    }

    .drch {
        flex: none;
        width: 100%;
    }

    .burger-container {
        display: flex !important;

        align-items: center;
        justify-content: center;

        gap: .8rem;
    }

    .sidebar-container {
        position: flex;
        height: 100%;
        
        min-width: 300px;

        visibility: hidden;
        opacity: 0;
    }
    
    .izqd .sidebar-container > h1 {
        display: none !important;
    }
}

.izqd.show {
    position: fixed;

    height: 100%;
    width: 19.375rem;
}

.izqd.show .burger-container {
    margin-top: 1.375rem;
    margin-bottom: 4.125rem;
    
}

.izqd.show .burger-container > h1{
    display: block !important;
}

.izqd.show .sidebar-container {
    border-radius: 10px;
    visibility: visible;
    opacity: 1;

    transition: opacity 1s ease; 
}

.izqd.show .sidebar-container  .add-notes {
    width: 18.75rem;
}

.izqd.show .sidebar-container .note {
    width: 18.75rem;
}
