@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --yellow: #FFCA28;
    --normal: #FFFFFF;
    --critic: #EF5350;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/*----------------Burger----------------*/
.burger-container {
    display: none !important;
    margin: clamp(1.5rem, 1.333rem + 0.556vw, 2rem);
}

.burger-image {
    height: clamp(2rem, 1.667rem + 1.111vw, 3rem);
    aspect-ratio: 1/1;

    background-image: url(../img/burger.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.burger-container>h1 {
    display: none !important;
    font-weight: bold;
    font-size: 2.3rem;
    margin: 0;
}

/*----------------------------Izquierda----------------------------*/
.izqd {
    flex: 1.2;
    height: 100%;

    background-color: #FFCA28;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-flow: column nowrap;

    font-family: Montserrat;
}

.sidebar-container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
}

/*------------Titulo------------*/
.sidebar-container>h1 {
    font-weight: bold;
    font-size: clamp(1.8rem, 1.358rem + 1.472vw, 3.125rem);
    margin-top: 1.375rem;
    margin-bottom: 4.125rem;
}

/*------------Añadir nota------------*/
.add-notes {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2.5rem;
    width: clamp(4.688rem, 0rem + 15.625vw, 18.75rem);
    padding: 0.9375rem 0;

    color: white;
    background-color: #00A99D;

    border-radius: 10px;
}

.add-notes p {
    margin: 0 1rem 0 0;
    font-weight: bold;
}

.add-notes img {
    width: 22px;
    height: 22px;
}

/*------------------Notas------------------*/
.note-container {
    width: 100%;
    height: 100%;

    overflow-y: auto;
    scrollbar-width: none;

    display: flex;
    flex-flow: column nowrap;

    align-items: center;

    gap: 2.125rem;
}

.note {
    width: clamp(4.688rem, 0rem + 15.625vw, 18.75rem);
    border-radius: 10px;
    padding: .2rem 1.25rem;
}

.note-title {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.note-title h1 {
    margin: 0;
    font-weight: bold;
    font-size: clamp(1.125rem, 1.083rem + 0.139vw, 1.25rem);
}

.note-title img {
    width: 19px;
    height: 19px;
}

.note .text {
    font-size: clamp(0.9rem, 0.867rem + 0.111vw, 1rem);
    word-wrap: break-word;
    word-break: break-word;
    margin: .4rem 0;
}

.note .time {
    text-align: right;
    font-weight: 100;
    font-size: clamp(0.787rem, 0.758rem + 0.097vw, 0.875rem);
}

/*------------Tipos de notas------------*/
.normal {
    background-color: var(--normal);
    color: black;
}

.normal .time {
    color: #808080;
}

.critic {
    background-color: var(--critic);
    color: white;
}


.critic .time {
    color: #F2F2F2;
}


/*----------------------------Derecha----------------------------*/
.drch {
    flex: 5;
    display: flex;

    justify-content: center;
    align-items: center;

    font-family: "Space Mono";
}

.note-body-container {
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 90%;

    display: flex;
    flex-flow: column nowrap;
}

.note-body-container>*:nth-child(1) {
    margin: 0;
    font-size: clamp(1.8rem, 1.254rem + 1.819vw, 3.438rem);
    font-weight: 600;
    outline: none;
}

.note-body-container>*:nth-child(2) {
    margin-top: 0.9375rem;
    margin-bottom: 1.875rem;
    font-size: clamp(0.6rem, 0.487rem + 0.375vw, 0.938rem);
    font-weight: 300;
    outline: none;
}

.note-body-container>*:nth-child(3) {
    margin: 0;
    font-size: clamp(0.72rem, 0.501rem + 0.728vw, 1.375rem);
    font-weight: 400;
    height: 100%;
    outline: none;
}

@media screen and (max-width:1220px) {
    .izqd {
        flex: none;
        height: clamp(5rem, 4.333rem + 2.222vw, 7rem);
        width: clamp(5rem, 4.333rem + 2.222vw, 7rem);
        transition: height 1s, width 1s ease;
    }

    .izqd.show {
        height: 100%;
        width: 19.375rem;
    }

    .burger-container {
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: .8rem;
    }

    .izqd.show .burger-container {
        margin: 1.375rem 0 4.125rem 0;
    }

    .izqd.show .burger-container>h1 {
        display: block !important;
    }

    .sidebar-container {
        height: calc(100% - 1.375rem - 4.125rem - 2.8rem);
        transform: translateX(-19.375rem);
        transition: transform 1s ease;
    }

    .izqd.show .sidebar-container {
        transform: translateX(0);
    }

    .izqd .sidebar-container>h1 {
        display: none !important;
    }

    .izqd .sidebar-container>* {
        min-width: 18.75rem;
    }

    .izqd .sidebar-container .note {
        width: 18.75rem;
    }
}